.blue_one {
    height: 100px;
    width: 100px;
    background-color: blue;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    color: white;
}

.blue_one:hover {
    background-color: red;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
